
# Byte-compiled / optimized / dynamically loaded files
__pycache__/
*.pyc
*.pyd
*.so
# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
venv/
env/
# VS Code Files
.vscode/
# Output files that can be regenerated
# These files likely contain large data or generated results.
/output_images/
/output_videos/
/runs/
# Training artifacts/models
# This includes saved model weights or compiled models.
*.pt
*.pth
*.avi
/models/
/runs/
training/yolov5xu.pt
yolov8x.pt
# Input data that might be too large for Git (e.g., raw videos)
/input_videos/